.container{
	background: #c9cdca;
}

body{
	background:#ffffff;
	margin: 3px;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.produto_wrapper{
	background-color: #FFF;
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

.logo{
	background:#FFF;
}

.produto_autor{
	color: #FF7C26;
	display: block;
}

.produto_titulo{
	color:#000;
	font-size:22px;
	text-decoration: none;
}

.produto_data{
	color:#727272;
	display: block;
}

.produto_resumo{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
}



  .topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  border-radius: 30px;
  border-bottom: #000 3px; 
  margin-top: 2px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #099329;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #099329;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

img{
padding: 8px;
border-radius: 30px;
margin-left: 10px;

}

.table{
border:#000 ;
	border: #b7bbb8;
	border-radius: 30px;
	padding: 14px;
}