-----------------------------------------------------------------
<h1>Site::Welcome#index</h1>
<p>Ja este trecho é carregado pela view da pasta site/welcome/index</>
<p>Find me in app/views/site/welcome/index.html.erb</p>
