<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Url imagem:</strong>
    <%= coin.url_image %>
  </p>

</div>
