<li>
    <ul>
    <%= link_to "Páginal Inicial", inicio_path %> 

    </ul>
</li>

<h1>Editar moeda</h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to "Mostrar", @coin %> |
  <%= link_to "Voltar", coins_path %>
</div>
