<footer class="blog-footer">
   <p>Developed by Anderson Pinheiro - Ruby On Rails</p>
     <p>
        <%= link_to 'Back on Top', root_path(), id: 'back-to-top-link'%>   
    </p>

    <%= javascript_include_tag 'back_to_top' %>
</footer>

