<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="UTF-8">
	
			<title>Ultimo_produto_cadastrado</title>
			
			<!-- JQuery -->
			<script src="js/jquery-2.2.1.js"></script>
	
			<!-- bootstrap - link cdn -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
			<!-- incluindo css -->
			<link href="css/style.css" rel="stylesheet">
	
			<!-- favicon -->
			<link rel="shortcut icon" href="images/favicon.ico" />
		</head>
	<header>
		<div class="topnav">
			<img src="images/logo.png" />
			<a href="produto">Ultimo Produto Cadastrado</a>
			<a href="produtos">Lista de Produtos</a>
			<div class="topnav-right">
	        <a href="formulario_inclusao_produto">Formulario Cadastro de Produtos</a>
			</div>
		  </div>
			

	</header>
	
	<body>		
		<div class="container-produto">
		<h1>Último produto cadastrado</h1>

	
		
		<% if(produto.length > 0){ %>
			<% for(var i = 0; i < produto.length; i++){ %>
				<div class="row">
					<div class="col-md-12">
						<div class="produto_wrapper">
							<table class="table-produtos">

							<tr>
								<td><strong>ID</strong></td>
								<td><strong>Descricao</strong></td>
								<td><strong>Fabricante</strong></td>
								<td><strong>Valor Unitário</strong></td>
						
							</tr>
							<tr>
								<td><a href="produto" class="produto_titulo"><%= produto[i].id_produto %></a></td>
								<td><a href="produto" class="produto_titulo"><%= produto[i].descricao %></a></td>
								<td><span class="produto_autor"><%= produto[i].fabricante %></span></td>
								<td><span class="produto_autor"><%= produto[i].valor_uni %> R$</span></td>							</p>
						</div>
					</div>
				</div>
			<% } %>
		<% } %>	
	</tr>
	</table-produto>
		</div>
	</body>
</html>