<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="UTF-8">
	
			<title>Lista_de_produtos</title>
			
			<!-- JQuery -->
			<script src="js/jquery-2.2.1.js"></script>
	
			<!-- bootstrap - link cdn -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
			<!-- incluindo css -->
			<link href="css/style.css" rel="stylesheet">
	
			<!-- favicon -->
			<link rel="shortcut icon" href="images/favicon.ico" />
		</head>
	<header>
		<div class="topnav">
			<img src="images/logo.png" />
			<a class="active" href="/">Home</a>
			<a href="produtos">Lista de Produtos</a>
			<a href="produto">Ultimo Produto Cadastrado</a>
			<div class="topnav-right">
	        <a href="formulario_inclusao_produto">Formulario Cadastro de Produtos</a>
			</div>
		  </div>
			

	</header>
	
	<body>

		<h1>Produtos em Estoque</h1>

		<table>
			
			<tr>
				<td>ID</td>
				<td>Descricao</td>
				<td>Fabricante</td>
				<td>Valor Unitário</td>

			</tr>
			<% for(var i = 0; i < produtos.length; i++){ %>
				<tr>
					<td><%= produtos[i].id_produto %></td>
					<td><%= produtos[i].descricao %></td>
					<td><%= produtos[i].fabricante %></td>
					<td><%= produtos[i].valor_uni %> R$</td>
				</tr>
			<% } %>

		</table>

	</body>
</html>