<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Produto</title>
		</head>
	<body>

		<h1>Último produto cadastrado</h1>

		<table>
            <tr>
                <td>id_produto</td>
                <td>descricão</td>
                <td>fabricante</td>
                <td>valor_uni</td>
            </tr>
            <tr>
				<td><%= produto[0].id_produto %></td>
                <td><%= produto[0].descricao %></td>
                <td><%= produto[0].fabricante %></td>
                <td><%= produto[0].valor_uni %> R$</td>
            </tr>
        </table>
	</body>
</html>