<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="UTF-8">
	
			<title>Ultimo_produto_cadastrado</title>
			
			<!-- JQuery -->
			<script src="js/jquery-2.2.1.js"></script>
	
			<!-- bootstrap - link cdn -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
			<!-- incluindo css -->
			<link href="css/style.css" rel="stylesheet">
	
			<!-- favicon -->
			<link rel="shortcut icon" href="images/favicon.ico" />
		</head>
	<header>
		<div class="topnav">
			<img src="images/logo.png" />
			<a class="active" href="/">Home</a>
			<a href="produtos">Lista de Produtos</a>
			<a href="produto">Ultimo Produto Cadastrado</a>
			<div class="topnav-right">
	        <a href="formulario_inclusao_produto">Formulario Cadastro de Produtos</a>
			</div>
		  </div>
			

	</header>
	
	
		<h1>Último produto cadastrado</h1>

		<table>
            <tr>
                <td>id_produto</td>
                <td>descricão</td>
                <td>fabricante</td>
                <td>valor_uni</td>
            </tr>
            <tr>
				<td><%= produto[0].id_produto %></td>
                <td><%= produto[0].descricao %></td>
                <td><%= produto[0].fabricante %></td>
                <td><%= produto[0].valor_uni %> R$</td>
            </tr>
        </table>
	</body>
</html>