<h1>Articles</h1>
<table>
	<thead>
	<tr><strong>
		<th>Nome</th>
		<th>Descrição</th>
		
		<th colspan="3"></th>
		</strong>
	</tr>
	</thead>
	
	<tbody>
        		<tr>
                <td><%=@article.title%></td>
        		<td><%=@article.body%></td>
                </tr>
	</tbody>
</table>
