<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EstoqueSys</title>
   
   

</head>
<body>
    
    <h1>Produtos Cadastrados</h1>
        <table>
            <tr>
                <td>id_produto</td>
                <td>descricão</td>
                <td>fabricante</td>
                <td>valor_uni</td>
            </tr>
            <% for ( var i=0 ; i < produtos.length; i++) {%>
            <tr>
                <td><%= produtos[i].id_produto %></td>
                <td><%= produtos[i].descricao %></td>
                <td><%= produtos[i].fabricante %></td>
                <td><%= produtos[i].valor_uni %></td>
            </tr>
            <% } %>
        </table>
</body>
</html>