<h1>Seja bem vindo!</h1>
<p>Anderson Pinheiro</p>


<ul> 
    <li>
    <%= link_to "Cadastrar Moedas", coins_path %> 
    </li>
</ul>

<p> A data de hoje é: <%= data_br(Date.today)%> </p>
<p> Horário atual <%= hora_atual %></p>


